body {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    grid-row-gap: 0px;
}

.place-card-large {
    display: none;
}

.default-card {
    display: none;
}

.mySlides {
    display: none
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

.pojemnik {
    max-width: 1920px;
    margin: 0 auto;
    background-color: white;
    grid-row-gap: 0px;
}

img {
    background-size: contain;
    max-width: 100%;
    height: auto;
}

#top1 {
    margin: 0 auto;
    background-color: white;
    padding: 0;
    background-size: cover;
}

.grid {
    display: grid;
    grid-column-gap: 0px;
    background-size: cover;
    grid-row-gap: 0px;
    text-align: center;
}

#top2 {
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 0;
    background-size: cover;
    text-align: center;
}

#top3 {
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    background-size: cover;
    text-align: center;
}

#top4 {
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 0;
    background-size: cover;
    text-align: center;
}

#top5 {
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 0;
    background-size: cover;
    text-align: center;
}

h1 {
    text-align: center;
}

#top6 {
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 0;
    background-size: cover;
    text-align: center;
}

#obok {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    grid-column-gap: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    grid-row-gap: 0px;
}

#dwie {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    grid-column-gap: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    grid-row-gap: 0px;
}

#top5-a {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    grid-column-gap: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    grid-row-gap: 0px;
}

#top5-b {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    grid-column-gap: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    grid-row-gap: 0px;
}

#top6-b {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    grid-column-gap: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    grid-row-gap: 0px;
}

#top6-a {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    grid-column-gap: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    grid-row-gap: 0px;
}

@media screen and (max-width: 1050px) {
    .story {
        font-size: 9px;
    }
    .toptxt {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .log {
        display: none;
    }
}